html {
    font-family: -apple-system, Helvetica, sans-serif;
    font-size: 100px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background: $bg-color;
    height: 100%;
}
*,
:after,
:before {
    -webkit-tap-highlight-color: transparent;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:focus {
    outline: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body,
input,
textarea {
    font-family: -apple-system, 'SF UI Text', Roboto, Noto, 'Helvetica Neue',
        Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
        '微软雅黑', Arial, sans-serif;
}
a img {
    border: 0;
}
a {
    text-decoration: none;
    background: 0 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    line-height: 1.6;
    -webkit-text-size-adjust: 100% !important;
}
li {
    list-style: none;
}
