$theme-color: #668CFF;
$theme-blue: #668CFF;
$theme-red: #f66c6c;
$theme-warn: rgb(254, 214, 129);
$theme-grey: #F0F2F7;
$bg-color: #fff;
$bg-color2: #F0F2F7;
$link-color: $theme-color;

/*
* z-index Variables
*/
$mask-layer: 1000;
$dropdown-layer: 1500;

$tag-layer--before: 0;
$tag-layer--icon: 1;

$col-fff: #fff;
$col-000: #000;
$col-888: #888;
$col-999: #999;
$col-1b: #1b1b1b;
$col-2b: #2b2b2b;
$col-p: #303435;
$col-badge__default: #f2f2f5;

// Button
$col-btn__default: #EDF1FA;

$col-bg__blue: #EDF1FA;
$col-bg__blue2: #F7FAFF;
$col-bg__blue3: #F2F5FA;